{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="https://www.lse.ac.uk/International-Inequalities/People/Joaquin-Prieto">III at LSE</a></li>
    <li><a href="https://quality-employment.org">QoE project</a></li>
    <li><a href="http://waplac.org/country-members">WAPLAC</a></li>
    <li><a href="https://sites.google.com/view/weipo-uah/team">WEIPO</a></li>
    <li><a href="https://www.linkedin.com/in/joaqu%C3%ADn-prieto-94470655/">LinkedIn</a></li>
    <li><a href="/files/CV_Joaquin_Prieto_2025.pdf">CV</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}<br><a href="https://maps.google.com/?q=Complejo%20Universitario%20Vicu%C3%B1a%20Mackenna%2020%2C%20Ram%C3%B3n%20Carnicer%2015%2C%20Providencia%2C%20Santiago%2C%20Chile">Complejo Universitario Vicuña Mackenna 20 | Ramón Carnicer 15, Providencia</a> &middot; <a href="#top" onclick="window.scrollTo({top:0,behavior:'smooth'});return false;">Back to top &uarr;</a></div>
