{% include base_path %}

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} | joaquin.prieto [at] gobierno.uchile.cl</div>

<div class="page__footer-copyright"><a href="https://www.lse.ac.uk/International-Inequalities/People/Joaquin-Prieto">III at the LSE</a> &middot; <a href="http://waplac.org/country-members">WAPLAC</a> &middot; <a href="https://sites.google.com/view/weipo-uah/team">WEIPO</a> &middot; <a href="https://www.linkedin.com/in/joaqu%C3%ADn-prieto-94470655/">LinkedIn</a> &middot; <a href="/files/CV_Joaquin_Prieto_2025.pdf">CV</a></div>

<div class="page__footer-copyright">Faculty of Government at the UChile: <a href="https://maps.google.com/?q=Complejo%20Universitario%20Vicu%C3%B1a%20Mackenna%2020%2C%20Ram%C3%B3n%20Carnicer%2015%2C%20Providencia%2C%20Santiago%2C%20Chile">Complejo Universitario Vicuña Mackenna 20 | Ramón Carnicer 15, Providencia</a></div>

<div class="page__footer-copyright"><a href="#top" onclick="window.scrollTo({top:0,behavior:'smooth'});return false;">Back to top &uarr;</a></div>
